DATA CLEANING NOTEBOOK

In [1]:
# 1. Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('SLU Opportunity Wise Data.csv')

In [3]:
# 3. First look at the data
print("First 5 rows:")
print(data.head())

First 5 rows:
  Learner SignUp DateTime                  Opportunity Id  \
0     06/14/2023 12:30:35  00000000-0GN2-A0AY-7XK8-C5FZPP
1     05/01/2023 05:29:16  00000000-0GN2-A0AY-7XK8-C5FZPP
2     04/09/2023 20:35:08  00000000-0GN2-A0AY-7XK8-C5FZPP
3     08/29/2023 05:20:03  00000000-0GN2-A0AY-7XK8-C5FZPP
4     01/06/2023 15:26:36  00000000-0GN2-A0AY-7XK8-C5FZPP

                                    Opportunity Name Opportunity Category  \
0  Career Essentials: Getting Started with Your P...               Course
1  Career Essentials: Getting Started with Your P...               Course
2  Career Essentials: Getting Started with Your P...               Course
3  Career Essentials: Getting Started with Your P...               Course
4  Career Essentials: Getting Started with Your P...               Course

  Opportunity End Date        First Name Date of Birth  Gender        Country  \
0  06/29/2024 18:52:39             Faria    01/12/2001  Female       Pakistan
1  06/29/2024 18:52:39          Poojitha    08/16/2000  Female          India
2  06/29/2024 18:52:39          Emmanuel    01/27/2002    Male  United States
3  06/29/2024 18:52:39  Amrutha Varshini    11/01/1999  Female  United States
4  06/29/2024 18:52:39    Vinay Varshith    04/19/2000    Male  United States

                   Institution Name Current/Intended Major  \
0                             Nwihs              Radiology
1                       SAINT LOUIS    Information Systems
2  Illinois Institute of Technology       Computer Science
3            Saint Louis University    Information Systems
4            Saint Louis University       Computer Science

      Entry created at Status Description  Status Code  \
0  03/11/2024 12:01:41            Started         1080
1  03/11/2024 12:01:41            Started         1080
2  03/11/2024 12:01:41            Started         1080
3  03/11/2024 12:01:41     Team Allocated         1070
4  03/11/2024 12:01:41            Started         1080

                 Apply Date Opportunity Start Date
0       06/14/2023 12:36:09    11/03/2022 18:30:39
1       05/01/2023 06:08:21    11/03/2022 18:30:39
2  05/11/2023 1085640:21:29    11/03/2022 18:30:39
3       10/09/2023 22:02:42    11/03/2022 18:30:39
4       01/06/2023 15:40:10    11/03/2022 18:30:39

In [6]:
print("\nData shape (rows, columns):")
print(data.shape)

Data shape (rows, columns):
(8558, 16)

In [15]:
# Check for duplicate rows
print("\nNumber of Duplicates:", data.duplicated().sum())

Number of Duplicates: 0

In [8]:
print("\nMissing values in each column:")
print(data.isnull().sum())

Missing values in each column:
Learner SignUp DateTime       0
Opportunity Id                0
Opportunity Name              0
Opportunity Category          0
Opportunity End Date          0
First Name                    0
Date of Birth                 0
Gender                        0
Country                       0
Institution Name              5
Current/Intended Major        5
Entry created at              0
Status Description            0
Status Code                   0
Apply Date                    0
Opportunity Start Date     3794
dtype: int64

Convert Date columns into proper date format

In [18]:
date_columns = [
    'Learner SignUp DateTime',
    'Date of Birth',
    'Apply Date',
    'Opportunity Start Date',
    'Opportunity End Date'
]

for col in date_columns:
    data[col] = pd.to_datetime(data[col], errors='coerce') 
print("Columns converted to datetime:", date_columns)
#also display their values
print("\nConverted date columns:")
print(data[date_columns].head())

Columns converted to datetime: ['Learner SignUp DateTime', 'Date of Birth', 'Apply Date', 'Opportunity Start Date', 'Opportunity End Date']

Converted date columns:
  Learner SignUp DateTime Date of Birth Apply Date Opportunity Start Date  \
0     2023-06-14 12:30:35    2001-01-12 2023-06-14    2022-11-03 18:30:39
1     2023-05-01 05:29:16    2000-08-16 2023-05-01    2022-11-03 18:30:39
2     2023-04-09 20:35:08    2002-01-27        NaT    2022-11-03 18:30:39
3     2023-08-29 05:20:03    1999-11-01 2023-10-09    2022-11-03 18:30:39
4     2023-01-06 15:26:36    2000-04-19 2023-01-06    2022-11-03 18:30:39

  Opportunity End Date
0  2024-06-29 18:52:39
1  2024-06-29 18:52:39
2  2024-06-29 18:52:39
3  2024-06-29 18:52:39
4  2024-06-29 18:52:39

In [19]:
data['Apply Date'] = pd.to_datetime(data['Apply Date'].astype(str).str.split().str[0], errors='coerce')

In [20]:
# 9. Remove exact duplicates
data = data.drop_duplicates()

In [21]:
data.to_csv('cleaned_data.csv', index=False)
print("\nSaved cleaned_data.csv!")

Saved cleaned_data.csv!